body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {

    background-color: beige;
    max-width: 800px;
    width: 100%;
    min-height: 600px;
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;

    .controls {
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-top: 6rem;
        gap: 1rem;

        &__slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }

        &__colors {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;

            &-background {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                justify-content: flex-start;
                align-items: center;

                #bgcolor {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                }

                #bgcolor::-webkit-color-swatch-wrapper {
                    padding: 0;
                }

                #bgcolor::-webkit-color-swatch {
                    border: none;
                    border-radius: 50%;
                }
            }

            &-pencil {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                justify-content: flex-start;
                align-items: center;

                #pencolor {
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                }

                #pencolor::-webkit-color-swatch-wrapper {
                    padding: 0;
                }

                #pencolor::-webkit-color-swatch {
                    border: none;
                    border-radius: 50%;
                }
            }
        }




    }

    
    .grid {
        height: 500px;
        width: 500px;
        border: black 1px solid;
        display: grid;     
        z-index: 1;

        div{
            width: auto;
            height: auto;
            border: 1px solid black;
            z-index: 5;
        }

        
    }

    hr {
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
    }
}